$primary-color: #478d97;
$secondary-color: #d43c00;
$tertiary-color: #f4a902;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}
body{
    overflow-x: hidden;
}

.wrapper{
    min-width: 100vw;
    min-height: 100vh;
    // background-color: rgb(196, 196, 177);
}
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

footer{
    text-align: center;
    margin: 5px 0;
}

// Nav bar styling

header{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // background-color: grey;
}

.logoContainer{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}

.logo{
    height: 145px;
    width: 170px;
    img{
        height: 100%;
        width: 100%;
    }
}

.logoText{
    letter-spacing: .2rem;
}
.logoText:hover{
    text-decoration: underline;
}

.phone{
    display: none;
}
.navBar{
    flex: 1.5;
    height: 100%;
    display: flex;
}
.navList{
    flex: 1;
    transition: 0.5s ease;
    ul{
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 33px;
        li{
            a{
                font-size: 1.1rem;
                color: $secondary-color;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
.burger{
    display: none;
    cursor: pointer;
    z-index: 1000;
    div{
        height: 3px;
        width: 25px;
        margin: 5px;
        background-color: black;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 870px){
header{
    width: 100%;
}
.logoContainer{
    flex: 2;
}
.navBar{
    justify-content: flex-end;
    align-items: center;
}
.navList{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background-color: $secondary-color;
    z-index: 999;
    transform: translateX(100%);
    ul{
        flex-direction: column;
        height: 70%;
        margin-top: 3em;
        li{
            a{
                color: white;
            }
        }  
    }
}
.burger{
    display: block;
    margin-right: 2.3em;
    position: absolute;
}
.nav-active {
    transform: translateX(0);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.phone{
    display: inline;
    font-size: 1.5rem;
    margin-left: 5px;
}
.logoText{
    display: none;
}
}

// Home Content 

.homeContent {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

    .topHero{
        width: 100%;
        min-height: 70vh;
        flex: 1.5;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(images/heroBG.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        .cta{
            width: fit-content;
            margin: 0 auto;
            padding: 1em 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .ctaText{
                font-size: 1.5rem;
                line-height: 2.5rem;
                text-transform: uppercase;
                color: white;
                text-align: center;
            }

            .contactBtn {
                display: block;
                width: 20%;
                margin: .7em auto;
                padding: 1em 2em;
                text-transform: uppercase;
                cursor: pointer;
                border: none;
                outline: none;
                background: white;
                border-radius: 1.3em;
                color: $primary-color;
            }

            .contactBtn:hover{
                background-color: rgb(236, 236, 236);
            }
        }
    }
}

@media screen and (max-width: 754px) {
    .homeContent {
        .topHero {
            .cta {
                .ctaText {
                    font-size: 1.3rem;
                    text-align: center;
                    margin-bottom: .5em;
                }
                .contactBtn{
                    width: 40%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .homeContent{
        .topHero{
            .cta{
                .contactBtn{
                    width: 70%;
                    padding: 1.3em;
                }
            }
        }
    }
}

@media screen and (max-width: 300px){
    .homeContent{
        .topHero{
            .cta{
                .ctaText{
                    font-size: 1.2rem;
                    line-height: 2em;
                }
                .contactBtn{
                    width: 98%;
                    padding: 1.2em;
                }
            }
        }
    }
}

// bottom hero section 

.bottomHero{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    color: $tertiary-color;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

h3{
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.hoursContainer {
    margin: 5px 0;
}

.serviceList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    h3{
        margin: 5px 0;
    }

    .serviceContainer{
        p{
            span{
                margin: 0 .5em;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .serviceContainer {
        width: 90%;
        p {
            width: 100%;
            text-align: center;
        }
    }
}

// About Content Styling 

.aboutSection {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
        margin-top: 5px;
    }

    .aboutContent{
        width: 85%;
        display: flex;
        justify-content: space-around;
        margin: 15px auto;

        .aboutImg{
            width: 600px;
            height: 400px;
            border-radius: 10px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }

        .aboutPara{
            width: 35%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                line-height: 1.5em;
            }
            h4{
                margin-top: 5px;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .aboutSection {
        .aboutContent{
            width: 100%;
        }
    }
}

@media screen and (max-width: 1050px){
    .aboutSection{
        .aboutContent{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .aboutPara{
                width: 50%;
                align-items: start;
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .aboutSection{
        .aboutContent{
            .aboutImg{
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .aboutSection{
        .aboutContent{
            .aboutImg{
                height: 350px;
            }
            .aboutPara{
                width: 80%;
                margin-top: 5px;
            }
        }
    }
}

@media screen and (max-width: 350px){
    .aboutSection{
        .aboutContent{
            .aboutImg{
                height: 250px;
            }
        }
    }
}

// Menu Section Styling

.menuSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $tertiary-color;

    h2{
        margin: 10px 0;
    }

    .menuContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .menuImg{
            width: 900px;
            height: 600px;
            border-radius: 10px;
            margin: 5px 0;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
        .specialsImg{
            width: 100%;
            display: flex;
            justify-content: center;

            .pozoleImg {
                width: 400px;
                height: 700px;
                border-radius: 10px;
                margin: 10px 5px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            .menudoImg {
                width: 400px;
                height: 700px;
                border-radius: 10px;
                margin: 10px 5px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
        }

        p{
            margin: 0 0 5px 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1000px){
    .menuSection{
        .menuContent{
            .menuImg{
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .menuSection{
        .menuContent{
            .menuImg{
                height: 500px;
            }
            .specialsImg{
                width: 90%;
                justify-content: space-evenly;
                .pozoleImg{
                    width: 350px;
                    height: 600px;
                }
                .menudoImg{
                    width: 350px;
                    height: 600px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    .menuSection{
        .menuContent{
            .menuImg{
                height: 400px;
            }
            .specialsImg{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 550px){
    .menuSection{
        .menuContent{
            .specialsImg{
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .pozoleImg{
                    width: 90%;
                }
                .menudoImg{
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .menuSection{
        .menuContent{
            .menuImg{
                width: 95%;
                height: 300px;
            }
        }
    }
}

// Gallery page styling

.gallerySection{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    h2{
        text-align: center;
        margin: 10px 0 ;
        color: $secondary-color;
    }

    .galleryContent {
        width: 90;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .foodImg{
            flex: 0 0 400px;
            height: 300px;
            margin: 1.3em 0;
            border-radius: 10px;
            box-shadow: 2px 2px 10px $secondary-color;
            img{
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}






